{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="mt-5">
        <h1 class="text-center">Welcome to the application to show competition results</h1>
        <p class="text-center">This app is created in Symfony PHP</p>
    </div>
{% endblock %}
