{% extends 'base.html.twig' %}

{% block title %}Ajouter les participants{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 mx-auto mt-4">
            <h1 class="mb-4">Ajouter les participants</h1>
            {{ form(form) }}
        </div>
    </div>    
{% endblock %}
